<app-navbar></app-navbar>
<h4>mostrar info de los Usuarios a los que se les puede realizar la autoevaluacion</h4>


En HTML, puedes incluir comentarios para agregar notas o aclaraciones dentro del código que no se mostrarán en la página web. Los comentarios son útiles para dejar instrucciones para ti mismo o para otros desarrolladores que trabajen en el mismo código. Los comentarios en HTML se escriben entre <!-- y -->. Aquí tienes algunos ejemplos:

html
Copy code
<!-- Donde aparece el 1 se agrega el id de docente -->
<button routerLink="/autoevaluacion/item/{{1}}" type="button" class="btn btn-primary btn-sm ms-2">agregar</button>
