<div class="row mb-3 mt-10">
    <div class="col-lg4">
        <div class="card bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">{{operacion}} Labor</div>
            <div class="card-body">
                <form [formGroup]="formLabor" (ngSubmit)="addLabor()">
                    <<label for="IDTipoLabor">Tipo Labor:</label>
                    <select formControlName="tipLabId" id="tipLabId" class="form-control" placeholder="Escoja el  tipo de labor">
                        <option *ngFor="let tipo of tipoLabor">{{tipo.id}}</option>
                    </select>
                    <span *ngIf="formLabor.get('tipoLabor')?.hasError('required') && formLabor.get('tipoLabor')?.touched">
                         El campo ID tipo labor es <strong>requerido</strong>
                    </span>

                    <input formControlName="nombreLab" type="text" class="form-control" placeholder="Ingrese Nombre Labor">
                    <input formControlName="horasLab" type="number" class="form-control" placeholder="Ingrese Cantidad de Horas">
                    <div class="row mt-3 text-center">
                        <div class="col">
                            <button [disabled]="formLabor.invalid" type="submit" class="btn btn-secondary">Aceptar</button>
                        </div>
                        <div class="col">
                            <button routerLink="/labor" type="button" class="btn btn-secondary">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


