.navbar{
    background-color: darkred;
}
.navbar i{
    background-color: darkred;
    font-size: 25px;
    color: white;
}
.container i{
    font-size: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: rgb(218, 77, 77);
}
.tab{
    margin-bottom: 5px;
    background-color: white;
}
.tab a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    font-size: 17px;
}

