.navbar{
    background-color: darkred;
}
.container i{
    font-size: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.tab{
    margin-bottom: 5px;
    background-color: darkred;
}
.tab a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 17px;
}
