<!-- list-item.component.html -->

<app-navbar></app-navbar>

<div class="container mt-4">
  <h2>Lista de Items de Autoevaluación</h2>

  <div *ngIf="items && items.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Número</th>
          <th>Nombre de Labor</th>
          <th>Tipo de Labor</th>
          <th>Horas</th>
          <th>Descripción</th>
          <th>Acto</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Estado</th>
          <th>Puntaje</th>
          <th>Resultados</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.LAB_NOMBRE }}</td>
          <td>{{ item.TIPO_LABOR }}</td>
          <td>{{ item.LAB_HORAS }}</td>
          <td>{{ item.DESCRIPCION }}</td>
          <td>{{ item.IEVA_ACTO }}</td>
          <td>{{ item.IEVA_FECHA_INICIO | date }}</td>
          <td>{{ item.IEVA_FECHA_FIN | date }}</td>
          <td>{{ item.IEVA_ESTADO }}</td>
          <td class="text-center">{{ item.IEVA_PUNTAJE }}</td>
          <td>
            <!-- logica para evidencias -->
            <ng-container *ngIf="item.EVI_TIPO === 1">
              <button type="button" class="btn btn-secondary btn-sm" (click)="descargarEvidencia(item.IEVA_ID, item.EVI_TIPO, item.EVI_CONTENIDO)">
                Descargar Evidencia
              </button>
              <input *ngIf="item.EVI_TIPO === 1" type="file" (change)="subirEvidencia(item.IEVA_ID, $event)">
            </ng-container>
            <ng-container *ngIf="item.EVI_TIPO === 0">
              <div>{{ item.EVI_CONTENIDO }}</div>
            </ng-container>
          </td>
          <td>
            <button type="button"
                    class="btn btn-primary btn-sm"
                    [routerLink]="['/autoevaluacion', id_usuario, 'item', 'editar', item.IEVA_ID]">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button routerLink="/autoevaluacion/{{this.id_usuario}}/item/add" type="button" class="btn btn-success btn-sm ms-2">
      Agregar Item
    </button>

  </div>

  <!-- Mensaje si no hay items -->
  <div *ngIf="items && items.length === 0">
    No hay items de autoevaluación disponibles.
  </div>
</div>
