
<div class="container">
    <app-navbar></app-navbar>

    <div class="infoUser">
      <i class="fa-regular fa-user"></i>
    </div>

    <div class="title">
        <h4>Lista Labores</h4>
        <button type="button" class="btn btn-secondary" routerLink="/labor/add">Agregar Labor</button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tipo Labor</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad Horas</th>
            <th scope=""></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor=" let labor of listLabores" class="table-active">
            <td>{{labor.id}}</td>
            <td>{{labor.idTipoLabor}}</td>
            <td>{{labor.nombre}}</td>
            <td>{{labor.horas}}</td>
            <td>
                <button routerLink="/labor/edit/{{labor.id}}" type="button" class="btn btn-primary btn-sm ms-2">Editar</button>
                <button (click)="deleteLabor(labor.id!)" type="button" class="btn btn-danger btn-sm">Eliminar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

