.title{
    margin-top: 20px;
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(74, 141, 241);
    text-align: center;
}
.title h4{
    background-color: rgb(74, 141, 241);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title button{
    background-color: rgb(74, 141, 241);
    color: white;
}